<h1 class="text-white">Info for Visitor</h1>

<div>
    <h2 class="text-white">Opening Hours: </h2>
    <h3>Sun-Thu 09:00-18:00</h3>
    <h3>Fri and Holiday eve 09:00-16:00</h3>
    <h3>Sat and Holiday 09:00-18:00</h3>
</div>
<br />

<h3 class="text-white">Entrance Fee (in Israeli Shekels)</h3>
<div class="container">
    <div class="row">
        <div class="col">Adult</div>
        <div class="col">63 ILS</div>

        <div class="w-100"></div>
        <div class="col">Child (3-18)</div>
        <div class="col">49 ILS</div>

        <div class="w-100"></div>
        <div class="col">police officer, student, soldier, senior citizen</div>
        <div class="col">49 ILS</div>

        <div class="w-100"></div>
        <div class="col">person with disabilities</div>
        <div class="col">35 ILS</div>
    </div>
</div>
<br />

<h3 class="text-white">One-Year Membership Prices</h3>
<div class="container">
    <div class="row">
        <div class="col">Adult</div>
        <div class="col">63 ILS</div>

        <div class="w-100"></div>
        <div class="col">One Child (3-18)</div>
        <div class="col">49 ILS</div>

        <div class="w-100"></div>
        <div class="col">One Adult</div>
        <div class="col">300 ILS</div>

        <div class="w-100"></div>
        <div class="col">Student</div>
        <div class="col">250 ILS</div>

        <div class="w-100"></div>
        <div class="col">police officer, student, soldier, senior citizen</div>
        <div class="col">220 ILS</div>

        <div class="w-100"></div>
        <div class="col">couple</div>
        <div class="col">525 ILS</div>

        <div class="w-100"></div>
        <div class="col">couple + 1 child</div>
        <div class="col">630 ILS</div>

        <div class="w-100"></div>
        <div class="col">couple + 2 children</div>
        <div class="col">680 ILS</div>

        <div class="w-100"></div>
        <div class="col">couple + 3</div>
        <div class="col">750 ILS</div>

        <div class="w-100"></div>
        <div class="col">couple + 4</div>
        <div class="col">790 ILS</div>

        <div class="w-100"></div>
        <div class="col">couple + 5</div>
        <div class="col">830 ILS</div>

        <div class="w-100"></div>
        <div class="col">couple + 6 (or more children)</div>
        <div class="col">860 ILS</div>
    </div>
</div>

<h2 class="text-white">To find us in Waze click on the link</h2>
<a href="https://waze.com/ul/hsv9h87p1u" target="_blank" aria-label="על מנת להפוך את האתר לנגיש לקורא מסך לחץ alt + 1. על מנת להפסיק הודעה זאת לחץ alt + 2.">https://waze.com/ul/hsv9h87p1u  <img src="~/MainImages/waze logo.png" width="40" height="30"/> </a>