<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LielSaarZOO</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ThirdWebZoo.styles.css" asp-append-version="true" />
    <script src="~/scripts/jquery-3.3.1.js"></script>
    <script src="~/scripts/jquery.validate.min-1.17.0.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min-3.2.10.js"></script>

</head>
<body class="MyBg">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <div class="container-fluid">

                <a class="navbar-brand abs" asp-controller="Home" asp-action="Index"><img class="myLogo" src="/MainImages/zooLogo.png" /></a>

                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="collapseNavbar">

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Animals" asp-action="AllAnimals">Explore Our ZOO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="User" asp-action="Index">Buy a Ticket</a>
                        </li>
                    </ul>

                    @if (ViewBag.Admin == false && ViewBag.User == false)
                    {
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-action="SignIn" asp-controller="User">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="SignUp" asp-controller="User">Sign Up</a>
                            </li>
                        </ul>
                    }
                    @if (ViewBag.Admin == true)
                    {
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-action="LogOut" asp-controller="Admin">Log out</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
