html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.myLogo {
    width: 80px;
    height: 80px;
}

.myPic {
    width: 150px;
    height: 100px;
}

body {
    background-image: url('/MainImages/BackGround.jpg');
    margin: 0;
}
