@model ThirdWebZoo.Models.User

<h1>Hello And Welcome back</h1>

<form asp-controller="User" asp-action="SignIn" method="post">
    <div class="form-group col-md-6">
        <label for="UserName">User Name</label>
        <input name="UserName" asp-for="UserName" type="text" class="form-control"placeholder="Enter User Name"/>
        <span asp-validation-for="UserName" class="ifValid"></span>
    </div>

    <div class="form-group col-md-6">
        <label for="Password">Password</label>
        <input name="Password" asp-for="Password" type="password" class="form-control" placeholder="Enter your Password"/>
        <span asp-validation-for="Password" class="ifValid"></span>
    </div>

    <button type="submit" class="btn btn-info" onclick="ValidateSubmit()">Submit</button>
</form>

<a asp-controller="Home" asp-action="Index">Back Home</a>