@model ThirdWebZoo.Models.Admin
@{
    ViewData["Title"] = "GetCreateAdmin";
}

<h1>Create Admin</h1>

<form asp-action="CreateAdmin" asp-controller="Admin">
   <div class="row">
    <div class="col-lg-4">Admin Name</div>
    <div class="col-lg-8">
        <input  asp-for="AdminName" placeholder="Enter your name" autocomplete="off" class="form-control"/>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-4">Password</div>
    <div class="col-lg-8">
        <input asp-for="Password" placeholder="Enter your Password" class="form-control" />
    </div>
</div>
<br />
 <div class="row">
        <div class="col-lg-offset-4 col-lg-8">
            <button type="submit" class="btn btn-light">Create</button>
        </div>
    </div>
</form>

<a asp-controller="Home" asp-action="Index">Back Home</a>