
@{
    ViewData["Title"] = "UsingAdmin";
}

<h1>Welcome @ViewBag.AdminName</h1>
<h3>What would you like to do?</h3>
<br />
<div>
    if you want to add animal click here
    <br />
    <a asp-action="AddAnimal" asp-controller="Admin">Add Animal</a>
</div>
<div>
    if you want to Delete animal click here
    <br />
    <a asp-action="DeleteAnimal" asp-controller="Admin">Delete Animal</a>
</div>
